.c1
  {
    background-color:rgba(0,0,0,0.05);
    position: fixed;
    width:1366px
  }

.c1 li a
  {
  float:left;
  }

ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0,0,0,0.05);
    width: 1366px;
  }

li
  {
    float: left;
  }

li a
  {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:"Courier New";
    font-size: 25px;
  }

/* Change the link color to #111 (black) on hover */
li a:hover
  {
    background-color: #111;
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
  }

.input[type=text]
  {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

  }

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus
  {
    width: 100%;
  }

.d4
  {
  background-color:rgb(18,19,16)
  ;
  height: 300px;
  width:1366px;
  top:0px;

  }

#c2
  {
  background-color:black;
  height:100px;
  width:1366px;
  font-family:PT Serif italic;
  font-size: 45px;
  font-weight: bolder;
  color: white;
  text-align: center;
  }


  #logo
  {
    height: 150px;
    width:  200px;
    position:absolute;
    left:250px;
    top:380px;
    height:120px;
    width:180px;
    
  }

  #scrollbutton 
  {
      height:100px; 
      width:100px;
      position: absolute;
      left:310px;
      top:630px;
      transition: transform 1s;

  
  }
  .scroll 
{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.scroll:hover 
{
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
 
  #scrollbutton hover
  {
    transform: translate(20px, 20px);

  }



