.c1
  {
    background-color:rgba(0,0,0,0.05);
    position: fixed;
    width:1366px
  }

.c1 li a
  {
  float:left;
  }

ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0,0,0,0.05);
    width: 1366px;
  }

li
  {
    float: left;
  }

li a
  {
    display: block;
    color:lightblue;
    text-decoration:none;
    text-align: center;
    padding: 14px 16px;
    font-family:"Courier New";
    font-size: 25px;
    text-shadow: 0 0 3px lightblue, 0 0 5px black,0 0 20px lightblue;
  }

/* Change the link color to #111 (black) on hover */
li a:hover
  {
    background-color: #111;
    text-decoration:underline;
    text-decoration-color: green;
    color:white;
    text-shadow: 0 0 3px white, 0 0 5px black,0 0 20px rgb(57,255,20);
  }

.input[type=text]
  {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

  }

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus
  {
    width: 100%;
  }

.d4
  {
  background-color:rgb(18,19,16);
  height: 300px;
  width:1366px;
  top:0px;

  }

#c2
  {
  background-color:black;
  height:100px;
  width:1366px;
  font-family:PT Serif italic;
  font-size: 45px;
  font-weight: bolder;
  color: white;
  text-align: center;
  }


  #logo
  {
    height: 150px;
    width:  200px;
    position:absolute;
    left:200px;
    top:300px;
    font-style: italic;
    font-family: cursive;
    font-size: 60px;
    color: #FFFF;
    -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px lightblue , 0 0 20px lightblue , 0 0 30px lightblue , 0 0 40px lightblue , 0 0 70px lightblue , 0 0 80px lightblue , 0 0 100px lightblue , 0 0 150px lightblue ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
#logo:hover{
  text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(57,255,20) , 0 0 35px rgb(57,255,20) , 0 0 40px rgb(57,255,20) , 0 0 50px rgb(57,255,20) , 0 0 75px rgb(57,255,20) ;
}

#scrollbutton
  {
      height:100px;
      width:100px;
      position: absolute;
      left:310px;
      top:480px;
      transition: transform 1s;


  }
  .scroll
{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.scroll:hover
{
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

  #scrollbutton hover
  {
    transform: translate(20px, 20px);

  }
#c3{
  background-color:rgb(119,119,119);
  height:200px;
  width:1366px;
  font-size: 20px;
  font-style: oblique;
  font-family: sans-serif;
  color:black ;
}


#c6{
  position: absolute;
  top:900px;
  left:600px;
  font-size: 20px;
  font-family: fantasy;
}
.cube {
	margin: 30px auto;
	position: absolute;
	width: 300px;
	height: 100px;
  left:50px;
  top:500;
	font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 1px 1px 1px #383737;
	color: #FFF;
	text-align:center;
}
.cube h1 {
    font-size: 30px;
	font-weight: bold;
	line-height:98px;
    margin:0;
    padding:0;
}
.cube h2 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	padding: 16px 0 2px;
}
.cube p {
	font-size: 13px;
	padding: 5px 10px;
	margin: 0;
}
.default-state, .active-state {
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 0.4s ease;
	transform-origin: center center -50px;
	-webkit-transform-origin: center center -50px;
	width: 100%;
}
.default-state {
	background-color: #03a9f4;
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.active-state {
	background: #1976d2;
	transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}
.cube:hover .default-state {
	transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
}
.cube:hover .active-state {
	z-index: 99999;
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
}




.cube1 {
	margin: 30px auto;
	position: absolute;
	width: 300px;
	height: 100px;
  left:500px;
  top:500;
	font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 1px 1px 1px #383737;
	color: #FFF;
	text-align:center;
}
.cube1 h1 {
    font-size: 30px;
	font-weight: bold;
	line-height:98px;
    margin:0;
    padding:0;
}
.cube1 h2 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	padding: 16px 0 2px;
}
.cube1 p {
	font-size: 13px;
	padding: 5px 10px;
	margin: 0;
}
.cube1:hover .default-state {
	transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
}
.cube1:hover .active-state {
	z-index: 99999;
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
}
.cube2 {
	margin: 30px auto;
	position: absolute;
	width: 300px;
	height: 200px;
  left:950px;
  top:500;
	font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 1px 1px 1px #383737;
	color: #FFF;
	text-align:center;
}
.cube2 h1 {
    font-size: 30px;
	font-weight: bold;
	line-height:98px;
    margin:0;
    padding:0;
}
.cube2 h2 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	padding: 16px 0 2px;
}
.cube2 p {
	font-size: 13px;
	padding: 5px 10px;
	margin: 0;
}
.cube2:hover .default-state {
	transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
}
.cube2:hover .active-state {
	z-index: 99999;
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
}
.end{
  top:1200px;
  left:400px;
  position: absolute;
  color:white;
  font-size: 40px;
  background-color: green;
  text-decoration: none;
}
